---
import HTMLicon from "./icons/HTML.astro";
import CSSicon from "./icons/CSS.astro";
import JavaScripticon from "./icons/JavaScript.astro";
import AngularIcon from "./icons/Angular.astro";
import NodeIcon from "./icons/NodeJS.astro";
import FireBaseIcon from "./icons/FireBase.astro";
const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: HTMLicon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSSicon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScripticon,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#003159] text-white",
    icon: AngularIcon,
  },
  NODE: {
    name: "Node.Js",
    class: "bg-[#003159] text-white",
    icon: NodeIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#003159] text-white",
    icon: FireBaseIcon,
  },
};
const PROJECTS = [
  {
    title: "The Sci-Fi Movie Explorer",
    description: `Website intended to filter, order and view the movies in the catalog of The Movie Data Base page.
    The project is been developed with Angular along with the API of TMdb.`,
    Github: "https://github.com/Ale771992/DEV010-movie-challenge-fw",
    image: "/projects/movie_challenge.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ANGULAR],
  },
  {
    title: "MD-Links",
    description: `Library developed in Node.js designed to analyze URLs found within markdown files. 
    This versatile library can read files with various extensions, including: md, .mkd, .mdwn, .mdown, .mdtxt, .mdtext, .markdown, and .text.`,
    Github: "https://github.com/Ale771992/DEV010-md-links",
    image: "/projects/md_links.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.NODE],
  },
  {
    title: "HerCode",
    description: `Mobile App designed for women entering the tech and programming world. The app, 
    named 'Her Code,' enables users to search and post tech positions. It also provides a platform 
    for women to connect within a supportive community, offering assistance and guidance to each 
    other on coding problems and technical queries.`,
    link: "https://dev-010-social-network-zeta.vercel.app",
    Github: "https://github.com/Ale771992/DEV010-social-network",
    image: "/projects/HerCode.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.FIREBASE],
  },
  {
    title: "DataLovers",
    description: `Data Lovers: A search engine and database for the Pokémon anime series. This database 
    contains information about approximately 251 Pokémon and is designed for users of the Pokémon Go video game.`,
    link: "https://ale771992.github.io/DEV010-data-lovers/src/",
    Github: "https://github.com/Ale771992/DEV010-data-lovers",
    image: "/projects/datalovers.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
  },
  {
    title: "Citronela - Natural Products Store",
    description: `Citronela is a natural and organic products store based in México. The development of this project 
    includes sharing the basic info of the store like, location, contact but also create a market place with the products 
    that Citronela has available.`,
    Github: "https://github.com/Ale771992/Citronela_naturalProducts_store",
    image: "/projects/citronela.webp",
    tags: [TAGS.CSS, TAGS.HTML],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, Github }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul>
      <li>
      <a href={link} target="_blank" class="text-lg mb-4 text-yellow-200 ">
      Link
      </a>
    </li>
    <li>
      <a href={Github} target="_blank" class="text-lg mb-4 text-yellow-200 ">
      GitHub
      </a>
    </li>
    </ul>
      <ul class="flex gap-x-4 flex-row">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2x1 shadow-white/20 mt-4 mb-4"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
